body {
    background-color: #fcb64d;
}

.illustration-container {
    height: 100vh;
    width: 100vw;
    background-color: #d7ede6;
    background-image: url('images/landing-background.svg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center bottom;
}

.logo-container {
    width: 100%;
    height: 45vh;
    background-image: url('images/wildhacks-logo.svg');  
    background-repeat: no-repeat;
    background-position: center;
    background-size: 150px;
    margin-bottom: -50px;
}

h1,
h2 {
    margin: 0 0 0 0;
    font-family: 'Montserrat', sans-serif;
    color: #253753;
    font-weight: 700;
    text-align: center;
}

h1 {
    font-size: 5em;
    line-height:80px;
}

h2 {
    font-size: 2em;
}

ul {
    padding-right: 60px;   
}

li {
    padding-left: 30px; 
    text-align: right;
}

a:hover {
    color: #fcb64d; 
}

.navbar-container {
    position: absolute;
    width: 100%;
    z-index: 1;
}

.navbar {
    background-color: rgba(0, 0, 0, 0);
}

.inputs {
    margin-top: 1em;   
}

.form-control, .form-control:focus, input[type='text'] {
    border-color: #fcb64d;   
}

.btn, .btn:hover, .btn:visited, .btn:active, .btn:link, .btn:focus{
    background-color: #fcb64d;   
}

.btn {
    width: 100%;   
}

@media (max-width: 600px) {
    
    h1 {
        font-size: 3em; 
        line-height: 50px;
    }
    
    h2 {
        font-size: 1em;   
    }
    
    
}